@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: 'Roboto', Arial;
  background: #fff;
}

.container {
  max-width: 1080px;
  margin: 20px auto;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  border: 2px solid #333;
}

.globe {
  color: #172774 !important;
  font-size: 3rem !important;
  text-align: center;
}

.spin {
  -webkit-animation-name: spinning;
          animation-name: spinning;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: 8s;
          animation-iteration-count: 8s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.spin:hover {
  cursor: pointer;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.fa-globe {
  font-size: 3.5rem;
  color: #172774;
}

.logo {
  margin: 1rem 0 3rem 0;
  text-align: center;
}

.weather-logo {
  color: #3d56b2;
  text-align: center;
}

.footer {
  color: #fff;
  font-size: 14px;
  background: #172774;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

.icons {
  margin-top: 4rem;
  text-align: center;
}

.social {
  color: #172774;
  font-size: 2.5rem;
  margin: 0 10px;
  text-align: center !important;
}

.social a {
  text-decoration: none;
}

.social:hover {
  color: #757575;
}

@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinning {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.bounce-out {
  -webkit-animation: bounce-out 0s ease 0s;
          animation: bounce-out 0s ease 0s;
}

.bounce-out:hover {
  cursor: pointer;
  -webkit-animation: bounce-out 2s ease infinite;
          animation: bounce-out 2s ease infinite;
}

@-webkit-keyframes bounce-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

@keyframes bounce-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

.weather {
  width: 300px;
  border-radius: 5px;
  -webkit-box-shadow: 8px -2px 10px 2px black;
          box-shadow: 8px -2px 10px 2px black;
  color: #fff;
  background-color: #333;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.weather .top,
.weather .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather .city {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 4px;
  letter-spacing: 1px;
}

.weather .weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0;
}

.weather .weather-icon {
  width: 100px;
}

.weather .temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.weather .details {
  width: 100%;
  padding-left: 20px;
}

.weather .parameter-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.weather .parameter-row .parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.weather .parameter-row .parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 15px;
  margin-top: 15px;
}

.daily-item {
  background: #f5f5f5;
  border-radius: 15px;
  height: 40px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
}

.daily-item .icon-small {
  width: 40px;
}

.daily-item .day {
  color: #212121;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-weight: 600;
  margin-left: 15px;
}

.daily-item .description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin-right: 15px;
  text-align: right;
}

.daily-item .min-max {
  color: #757575;
}

.daily-details-grid {
  grid-row-gap: 0;
  grid-column-gap: 15px;
  -webkit-column-gap: 15px;
  column-gap: 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 5px 15px;
  row-gap: 0;
}

.daily-details-grid-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.daily-details-grid-item label:first-child {
  color: #757575;
}

.daily-details-grid-item label:last-child {
  color: #212121;
}
/*# sourceMappingURL=main.css.map */